<!--<h1>CREAR USUARIO</h1>
<%= form_for(@user) do |f| %>
	<div class="field">
		<%= f.text_field :name, placeholder:"Nombre" %>
	</div>
	<div class="field">
		<%= f.text_field :email, placeholder:"Email" %>
	</div>
	<div class="field">
		<%= f.text_field :password, placeholder:"Contraseña" %>
	</div>

	<div class="field">
		<%= f.submit "Guardar" %>
	</div>
<% end %>
-->

<section class="container">
	<div class="formulario">

		<h1>Registro</h1>
		<hr>
		<form action="#" method="POST">

			<label>Correo</label><br>	
			<input type="text" name="email" placeholder="E-mail"><br>
			<label>Contraseña</label><br>
			<input type="password" name="password" placeholder="Contraseña"><br>
			<label>Repetir Contraseña</label><br>
			<input type="password" name="password2" placeholder="Repetir contraseña"><br>
			<label>Nombre completo</label><br>
			<input type="text" name="name" placeholder="Nombre completo"><br>
	
			<hr>
			<input type="submit" value="Listo">
			<a href="#">Ya tengo una cuenta</a>

		</form>
	</div>
	</section>