<!--<h1>CREAR USUARIO</h1>
<%= form_for(@user) do |f| %>
	<div class="field">
		<%= f.text_field :name, placeholder:"Nombre" %>
	</div>
	<div class="field">
		<%= f.text_field :email, placeholder:"Email" %>
	</div>
	<div class="field">
		<%= f.text_field :password, placeholder:"Contraseña" %>
	</div>

	<div class="field">
		<%= f.submit "Guardar" %>
	</div>
<% end %>
-->

<section class="site__container">
	<div class="formulario">

		<h1>Registro</h1>
		<hr>
		<form class="form" name="frm" accept-charset="UTF-8" id="insertForm" action="/users" method="POST" data-remote="true">
			<div class="form__field">
				<label>@</label>
				<input type="text" name="user[email]" placeholder="E-mail" required>
			</div>
			<div class="form__field">
				<label class="fontawesome-lock"></label>
				<input type="password" name="user[password]" placeholder="Contraseña" required>
			</div>
			<div class="form__field">
				<label class="fontawesome-lock"></label>
				<input type="password" name="user[password2]" placeholder="Repetir contraseña" required>
			</div>
			<div class="form__field">
				<label class="fontawesome-user"></label>
				<input type="text" name="user[name]" placeholder="Nombre completo" required>
			</div>
	
			<hr>

			<input type="submit" value="Listo" onclick="return validation();" />
			<a href="/users">Ya tengo una cuenta</a>

		</form>
	</div>
	</section>
	<script type="text/javascript">
	function validation() {
		var pass = document.getElementById("insertForm");
		
			if(pass[1].value == "") {
				alert("Ingresaa la contraseña.");
				return false;
			}
			if((pass[1].value).length < 8){
			alert("La contraseña es minimo de 8 caracteres.");
			pass.focus();
			return false;
			}
			if(pass[1].value == "") {
				alert("Debe confirmar la contraseña.")
				return false;
			}
			if(pass[1].value != pass[2].value) {
				alert("La contraseña no coincide.");
				return false;
			}
			return true;
		
		
		
	}
	</script>
